@import "tailwindcss";

@theme {
    /* By assigning the variables here, we tell Tailwind they exist */
    /* We use 'family' to define the font stack */
    --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
    --font-mono: var(--font-geist-mono), ui-mono-font, monospace;
}

:root {
    --background: #ffffff;
    --foreground: #0f172a;
}

body {
    /* Use the theme variable instead of the raw CSS variable */
    font-family: var(--font-sans);
    background: white;
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
}

.stroke-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}